# 개인 IPv4 Address 값(터미널에서 ipconfig -> Wireless LAN adapter Wi-Fi - IPv4 Address)
EXPO_PUBLIC_SERVER_IP=your_Ip
# CLERK KEY (Expo에서는 EXPO_PUBLIC_ 접두사 필요)
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_key